{% extends 'base.html' %}
{% block title %}New Tasks{% endblock %}
{% block head %}
    <style type="text/css">
        * { background-color: #eab676; 
            color: black; 
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
            }
    </style>
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>
            Save
        </button>
    </form>
{% endblock  %}

