{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% endblock %}
</head>
<body>
    <div id="nav">
        {% block nav %}
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'project' %}">Projects</a></li>
                <li><a href="{% url 'task' %}">Tasks</a></li>
                <li><a href="{% url 'create_task' %}">New Task</a></li>
                <li><a href="{% url 'create_project' %}">New Project</a></li>
            </ul>
        {% endblock %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2023 by <a href="#">DanielSan</a>
        {% endblock %}
    </div>
</body>
</html>