<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="style.css" />
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="nav">
        {% block nav %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="/task">Tasks</a></li>
                <li><a href="/new_task">New Task</a></li>
            </ul>
        {% endblock %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2023 by <a href="#">DanielSan</a>
        {% endblock %}
    </div>
</body>
</html>